<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996313659464-t3a1vo15anmfggpoafghlqbp7jdv27m7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996313659464-t3a1vo15anmfggpoafghlqbp7jdv27m7</string>
	<key>API_KEY</key>
	<string>AIzaSyDA-RqE1_b_0RhHCa7lNhFviZUseuyGhFs</string>
	<key>GCM_SENDER_ID</key>
	<string>996313659464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>UNIBUC.Login</string>
	<key>PROJECT_ID</key>
	<string>login-d12e3</string>
	<key>STORAGE_BUCKET</key>
	<string>login-d12e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:996313659464:ios:2ec42eae24876072dd807d</string>
</dict>
</plist>
